<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="auto.registration"/>
      <class name="auto.login"/>
       <class name="auto.mobiles"/>
       
       <class name="auto.registrationTest"/>
      <class name="auto.loginTest"/>
       <class name="auto.mobilesTest"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
